<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>451641862977-iussojnd5mtrd0216bocqqftask592ob.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.451641862977-iussojnd5mtrd0216bocqqftask592ob</string>
	<key>API_KEY</key>
	<string>AIzaSyCZNuIwFEaSCtGKp81h9Eyn_qxbJYMvjmU</string>
	<key>GCM_SENDER_ID</key>
	<string>451641862977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.segment.analyticsExample</string>
	<key>PROJECT_ID</key>
	<string>charagan-57eb9</string>
	<key>STORAGE_BUCKET</key>
	<string>charagan-57eb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:451641862977:ios:4c0575ec2d39e092b08fc0</string>
</dict>
</plist>